/*GENERAL*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*HR*/
hr {
    border: none; 
    height: 2px; 
    background: rgb(196, 196, 196);  
}


@font-face {
    font-family: 'LeagueGothic';
    src: url('./assets/ttf/LeagueGothic-Regular.ttf');
}


body {
    font-family: 'LeagueGothic';
}
ul {
    list-style-type: none;
}

/*HEADER */

.header {
    padding: 5px 5px;
    background-color: rgb(220, 220, 220);
    width: 100%;
       
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.header__container a img {
    height: 75px;
    width: 123px;
}
.header__container-navbar {
    display: none;
}


.icono-placeholder-image::placeholder{
    background-image: url(./assets/images/IconSearch.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0.5rem center;
}


/*MAIN*/
.main {
    padding: 20px 60px;
    display: flex;
    font-family: 'LeagueGothic';
    
}

.main__container {
    max-width: 1200px;
    grid-template-columns:1fr;
    margin: 0 auto;
    display: grid;
}

.main__container-info h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.main__container-info p {
    margin-bottom: 35px;
}

.parrafo {
    font-size: 30px;
}

.parrafo_1{
    font-size: 25px;
}

.main__container-video {
    margin: 0 auto;
    margin-left: 20px;
    display: flex;
    
}

/*FOOTER*/

.footer{
    font-size: 1rem; 
    font-style: normal;
    width:100%;
}

.footer__container{
    height: 50px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 0;
}
.footer__container-end{
    height: 50px;
    display: grid;
    grid-template-rows:3fr;
    gap: 0;
}

.footer__items1 {
background-color: rgb(220, 220, 220);
text-align: center;
text-decoration: none;

}

.footer__items {
    background-color: rgb(220, 220, 220);
    text-align: center;
}


.footer__redes{
    background-color: rgb(220, 220, 220);
    text-align: center;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
    .header__container-navbar {
        display: flex;
        font-size: 20px;
    }

    .header__container-navbar label {
       padding: 15px;
    }

    .header__container-navbar input {
        font-style: oblique;
    }

    .header__container-navbar li {
        margin: 0 15px;
    }
    
    .header__container-navbar li a {
        color: black;
        font-weight: initial;
        text-decoration: none;
    }

    .header__container-navbar li a:hover {
        color: rgba(16, 16, 248, 0.454);
        text-shadow: 2px 2px 2px grey;
    }


    .header__container-navbar-mobile {
        display: none;
    }
        
    
    .header__container-navbar-mobile li a:hover {
        color: rgba(16, 16, 248, 0.454);
        text-shadow: 1px 1px 1px grey;
    }
    .footer__items1 :hover{
        color: rgba(16, 16, 248, 0.454);
        text-shadow: 2px 2px 2px grey;
        font-weight: bold;
    }
}
@media (min-width: 992px) {
    .main__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}























