.main {
          background-image:url(./assets/images/backgroundImage.jpg);
          width: 100%;
          height: 100%;
          background-repeat:no-repeat;
          background-size: 100% 100%;
}
footer{
          font-size: 1rem; 
          font-style: normal;
      }
      .footer__container{
          height: 50px;
          display: grid;
          grid-template-columns:repeat(2, 1fr);
          gap: 0;
      }
      .footer__container-end{
          height: 50px;
          display: grid;
          grid-template-rows:2fr;
          gap: 0;
      }
      
      
      .footer__items {
          background-color: rgb(220, 220, 220);
          text-align: center;
      }
      
      
      .footer__redes{
          background-color: rgb(220, 220, 220);
          text-align: center;
      }
