.footer {
          font-size: 1rem; 
          font-style: normal;
          background-color: $fontLigth;

                    &__container {
                              height: 15%;
                              max-width: 1200px;
                              margin: 0 auto;
                              display: flex;
                              text-align: center;
                              justify-content: space-between;

                    &-end {
                              height: 50px;
                              display: grid;
                              grid-template-rows:3fr;
                              gap: 0;
                    
                    }
                              }
          
          &__items1 {
                    
                    text-align: center;
                
          }
          &__items {
                    
                    text-align: center;
                  
          }
          &__redes {
          
          text-align: center;
          }
}




@media (min-width:$bpMedium) {
          .footer__items-privacy:hover{
                    color: rgba(16, 16, 248, 0.454);
                    text-shadow: 2px 2px 2px grey;
                    font-weight: bold;
          }
}